html, body {
    height: 100%;
    margin: 0;
}

.index { 
    background: url(../img/windmills.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: auto;
  }

  .vertical-center {
    min-height: 100%;  
    min-height: 100vh; 
    display: flex;
    align-items: center;
  }

  .index-container {
      margin: auto;
      background-color: rgba(55,55,55,0.6);
      color: white;
      text-align: center;
  }